/*Codigos CSS Universais*/
@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Solway:wght@300;400;500;700;800&display=swap');
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Solway', serif;
*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #bde0fe;
    --cor-secundaria: #ffafcc;
    --cor-terciaria: #ddd;
    --cor-fundo: #fff;
}

body {
    min-height: 100.vh;
    background: var(--cor-fundo);
    width: 100%;
    height: 100vh;
    font-family: Roboto;
}

/*Codigos CSS Universais*/

.carrinho-titulo {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    font-size: 24px;
    border-bottom: 1px solid #000;
    font-family: 'Solway', serif;
}

.carrinho-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.carrinho-lista-produtos{
    display: grid;
    max-width: 800px;
    height: fit-content;
    grid-template-rows: 100px;
}

.carrinho-lista-produtos-titulo{
    display: grid;
    grid-template-columns: 350px 250px 200px;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #000;
}

.carrinho-produto{
    display: grid;
    grid-template-columns: 100px 250px 250px 200px;
    grid-template-rows: 100px;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 8px;
}

.imagem-produto {
    grid-column: 1;
    width: 100%;
}
.nome-produto {
    margin: 20px;
    font-weight: 500;
    font-size: 20px;
}

.preço-produto{
    font-size: 20px;
}

.quantidade-produto span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--cor-secundaria);
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.quantidade-produto span:nth-child(2) {
    background-color: transparent;
    font-size: 20px;
}

/*Carrinho CheckOut*/

.carrinho-checkout{
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    height: 350px;
    padding: 20px;
    background-color: var(--cor-fundo);
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0 0 20px 0 darkgray;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo-checkout{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.subtotal-checkout{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 20px;
}

.frete-checkout{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 5px;
}

.total-checkout{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    margin-top: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.caulcular-frete{
    display: flex;
    justify-content: space-between;
}

.continuar-checkout{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
/*Frete Input*/

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
    margin-top: 5px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #a2d2ff;
    outline: 0;
    font-size: 17px;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #a2d2ff;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 3px;
    border-image: linear-gradient(to right, #ffafcc, #ffc8dd);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #ffafcc;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
/*FIM Frete input*/

/*Botão Caulcular Frete*/

.caulcular-frete-botao {
    width: fit-content;
    min-width: 100px;
    height: 40px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #a2d2ff;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    color: #a2d2ff;
}

.caulcular-frete-botao:hover {
    border: 2.5px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    box-shadow: 0px 0px 20px -18px;
}

.caulcular-frete-botao:active {
    transform: scale(0.95);
}

/*FIM Botão Calcular Frete*/

/*Botão Continuar*/

.continuar-checkout-botao {
  width: fit-content;
  min-width: 350px;
  height: 45px;
  padding: 8px;
  border-radius: 30px;
  border: 2.5px solid var(--cor-secundaria);
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: var(--cor-secundaria);
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-size: 20px;
  font-weight: 500;
  color: var(--cor-fundo);
}

.continuar-checkout-botao:hover {
  background-color: #ffc8dd;
  box-shadow: 0px 0px 20px -18px;
}

.continuar-checkout-botao:active {
  transform: scale(0.95);
}

/*FIM Botão Continuar*/

/*FIM Carrinho Checkout*/

