/*Codigos CSS Universais*/
@charset "UTF=8";
@import url('Header.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/*
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #bde0fe;
    --cor-secundaria: #ffafcc;
    --cor-fundo: #fff;
}

body {
    min-height: 100.vh;
    background: var(--cor-fundo);
    width: 100%;
    height: 100vh;
    font-family: Roboto;
}

/*Codigos CSS Universais*/

/*Boxes*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 115px auto 0;
}

.container-top{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.lado-esquerdo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itens {
    align-self: flex-end;
}

.lado-direito {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*FIM boxes*/


/*Titulo*/

.titulo{
    align-self: baseline;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    height: 60px;
    margin: 0px 90px;
}
.titulo hr{
    margin: 5px 0px;
}

.descriçao-link{
    align-self: baseline;
    margin: 0px 90px;
    text-decoration: none; 
    color: #000; 
    transition: border-bottom 0.3s ease; 
    border-bottom: 1px solid transparent; 
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.descriçao-link:hover{
    border-bottom: 1px solid #000; 
}
/*FIM titulo*/

/*Box-preço*/

.container-preço {
    display: flex;
    align-self: baseline;
    width: 100%;
    max-width: 400px;
    margin: 20px ;
    padding: 30px;
    height: auto;
    background-color: none;
    border-radius: 10px;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0 0 20px 0 darkgray;
}

.preço {
    align-self: baseline;
    font-size: 38px;
    margin-bottom: 5px;
}

.preço-cartao {
    align-self: baseline;
    margin-bottom: 5px;
}

.box-dias{
    align-self: flex-end;
    text-align: center;
    max-width: 100px;
    background: var(--cor-primaria);
    padding: 15px;
    border-radius: 10px;
}
/*FIM Box-preço*/

/*popup parcelamento*/

/*texto ver parcelamento*/
.parcelamento {
    text-decoration: none; 
    color: #000; 
    transition: border-bottom 0.3s ease; 
    border-bottom: 1px solid transparent; 
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    align-self: baseline;
    
}
.parcelamento:hover {
    border-bottom: 1px solid #000; 
}
/*FIM texto ver parcelamento*/

/*Pacelamento POPUP*/
.titulo-parcelamento{
    font-family: 'Roboto', sans-serif;
}

.fechar-popup{
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border-color: #e9ecef;    
    color: #CED4DA;
    cursor: pointer;
}

.fechar-popup:hover{
    background-color: #f8f9fa;
}

.parcelamento-popup::backdrop{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
}

.parcelamento-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    max-width: 80%;
    border-color: #a2d2ff;
    border-radius: 10px;
}
  
/*FIM Parcelamento POPUP*/

/*Tabela parcelamento POPUP*/

.tabela-parcelamento{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin-top: 25px;
}

.tabela-parcelamento th{
    padding: 15px;
    background-color: #a2d2ff;
}

.tabela-parcelamento td{
    padding: 5px 15px;

}

.tabela-parcelamento tr:nth-child(odd){
    background-color: #ddd;
}

.tabela-parcelamento tr:nth-child(even){
    background-color: white;
}

/*FIM Tabela popup parcelamento*/

/*Imagens*/
.imagem-selecionada {
    max-width: 400px;
}

.imagem-selecionada img {
    width: 100%;
    border-radius: 10px;
}

.thumbnails {
    display: flex;
    max-width: 400px;
    justify-content: space-evenly;
    gap: 10px;
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
}
/*Fim imagens*/

/*Botão comprar*/
.comprar {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #000;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: #ffafcc;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .comprar:hover {
    background-color: #ffc8dd;
    box-shadow: 0px 0px 20px -18px;
  }
  
  .comprar:active {
    transform: scale(0.95);
  }
/*FIM botão comprar*/

/*Personalização*/

#mostrar-personalizaçao{
    display: none;
}

#mostrar-personalizaçao:checked ~ .container-personalizaçao{
    display: none;
}

#mostrar-personalizaçao:checked ~ .container-personalizaçao {
    display: block;
}

.container-personalizaçao{
    display: none;
}

.personalizaçao-botao {
    display: inline-block;
    cursor: pointer;
}

.personalizaçao-botao{
    color: white;
    background: #ffafcc;
    border: 2px solid #a2d2ff;
    padding: 10px 23px;
    border-radius: 10px;
    margin: 12px;
    user-select: none;
}

.personalizaçao-botao:hover {
    background-color: #ffc8dd;
}

/*FIM Personalização*/

/*Botão de seleção de cor para Tecido*/
.titulo-tecido{
    text-align: center;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.cor-tecido {
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn{
    border: 1px solid #000000;
    background: none;
    padding: 10px 20px;
    font-size: 15x;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    margin: 10px;
    color: #000000;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
/*cor do nome*/
.btn1:hover{
    color: white;
}
.btn2:hover{
    color: pink;
}
.btn3:hover{
    color: purple;
}
.btn4:hover{
    color: red;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #000000;
    z-index: -1;
    transition: 0.8s;
}
/*Cor do Fundo*/
.btn1::before{
    background: black;
}
.btn2::before{
    background: rgb(62, 194, 10);
}
.btn3::before{
    background: pink;
}
.btn4::before{
    background: yellow;
}

.btn1::before,.btn2::before,.btn3::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn1:hover::before,.btn2:hover::before,.btn3:hover::before,.btn4:hover::before{
    height: 180%;
}

/*Botão de Cor da Fita*/

.titulo-fita{
    text-align: center;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.cor-fita {
    text-align: center;
    margin: 0;
    padding: 0;
}

/*Fim Botão de Cor da Fita*/

/*Botão escrever pesonalização*/


/*FIM Botão para escrever personalização*/

/*Outros Produtos*/

.container-outros-produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    background-color: #bde0fe;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}

.titulo-outros-produtos{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.linhas-centralizadas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha {
    flex-grow: 1;
    height: 1px;
    background-color: #000;
    margin: 0 10px;
    max-width: 500px;
}

.container-outros-produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    background-color: #a2d2ff;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    height: 360px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 20px;
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 50%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-infomaçao {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .texto-titulo {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .texto-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-butao {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-butao:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
/*FIM Outros Produtos

/*Descrição do Produto*/

.container-descriçao {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    background-color: none;
    box-shadow: 0 0 20px 0 darkgray;
    margin: 20px auto;
    border-radius: 10px;
}

.lado-esquerdo-descriçao {
    flex: 1;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

.lado-direito-descriçao {
    flex: 1;
    padding: 5%;
    width: 100%;
    box-sizing: border-box;
}

.botton-descriçao{
    padding: 20px 5% ;
    width: 100%;
    box-sizing: border-box;
}

.titulo-descriçao{
    font-size: 24px;
    font-family:'Rubik', sans-serif;
    font-weight: 400;
    color: #6c757d;
    word-wrap: break-word;
}

    .descriçao{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    color: #6c757d;
    word-wrap: break-word;
}

/*FIM Descrição do Produto*/

/*Botao Topo*/

#botaotopo {
    display: block;
    position: fixed;
    bottom: -50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    border: 2px solid var(--cor-fundo);
    cursor: pointer;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-image: url('botao.jpg');
    background-size: cover;
    background-position: center;
    transition: all 0.3s;
}

#botaotopo.active {
    bottom: 30px;
}

/*FIM Botao Topo*/