@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap%27');
@import url('Header.css'); 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto:wght@300&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap%27');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto:wght@300&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap%27');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@300&family=Roboto:wght@300&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap%27');
/*
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/

/*Boxes*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 115px auto 0;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.lado-esquerdo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itens {
    align-self: flex-end;
}

.lado-direito {
    width: 100%;
}
/*FIM boxes*/


/*Titulo*/

.titulo{
    text-align: center;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    height: 60px;
    margin: 0px 90px;
    margin-top: 10px;
}
.titulo hr{
    margin: 5px 0px;
}

.descriçao{
    text-align: center;
    height: 80px;
    margin: 0px 90px;
}
/*FIM titulo*/

/*Box-preço*/

.container-preço {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 300px;
  background-color: #bde0fe;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*FIM Box-preço*/

/*popup parcelamento*/

/*texto ver parcelamento*/
.parcelamento {
    text-decoration: none; 
    color: #000; 
    transition: border-bottom 0.3s ease; 
    border-bottom: 1px solid transparent; 
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.parcelamento:hover {
    border-bottom: 1px solid #000; 
}
/*FIM texto ver parcelamento*/

/*Pacelamento POPUP*/

.parcelamento-popup::backdrop{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
      
}

.parcelamento-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    max-width: 80%;
}
  
/*FIM Parcelamento POPUP*/

.tabela-parcelamento{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}

/*FIM popup parcelamento*/
/*Imagens*/
.imagem-selecionada {
    max-width: 400px;
}

.imagem-selecionada img {
    width: 100%;
    border-radius: 10px;
}

.thumbnails {
    display: flex;
    max-width: 400px;
    justify-content: space-evenly;
    gap: 10px;
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
}
/*Fim imagens*/

/*Botão comprar*/
.comprar {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #000;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: #ffafcc;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .comprar:hover {
    background-color: #ffc8dd;
    box-shadow: 0px 0px 20px -18px;
  }
  
  .comprar:active {
    transform: scale(0.95);
  }
/*FIM botão comprar*/

/*Botão de seleção de cor para Tecido*/
.titulo-tecido{
    text-align: center;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.cor-tecido {
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn{
    border: 1px solid #000000;
    background: none;
    padding: 10px 20px;
    font-size: 15x;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    margin: 10px;
    color: #000000;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
/*cor do nome*/
.btn1:hover{
    color: white;
}
.btn2:hover{
    color: pink;
}
.btn3:hover{
    color: purple;
}
.btn4:hover{
    color: red;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #000000;
    z-index: -1;
    transition: 0.8s;
}
/*Cor do Fundo*/
.btn1::before{
    background: black;
}
.btn2::before{
    background: rgb(62, 194, 10);
}
.btn3::before{
    background: pink;
}
.btn4::before{
    background: yellow;
}

.btn1::before,.btn2::before,.btn3::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn1:hover::before,.btn2:hover::before,.btn3:hover::before,.btn4:hover::before{
    height: 180%;
}

/*Botão de Cor da Fita*/

.titulo-fita{
    text-align: center;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.cor-fita {
    text-align: center;
    margin: 0;
    padding: 0;
}

/*Fim Botão de Cor da Fita*/

/*Botão escrever pesonalização*/

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: auto;
    padding: 10px;
    max-width: 190px;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid #a2d2ff;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #000;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #fff;
    
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: #ffc8dd;
  }
/*FIM Botão para escrever personalização*/

