/*Codigos CSS Universais*/
@charset "UTF=8";
@import url('header.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/*
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #bde0fe;
    --cor-secundaria: #ffafcc;
    --cor-terciaria: #ddd;
    --cor-fundo: #fff;
}

body {
    min-height: 100.vh;
    background: var(--cor-fundo);
    width: 100%;
    height: 100vh;
    font-family: Roboto;
}

/*Codigos CSS Universais*/

.carrinho-titulo {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    font-size: 24px;
    border-bottom: 1px solid #000;
}

.carrinho-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.carrinho-lista-produtos{
    display: grid;
    max-width: 800px;
    grid-template-rows: 100px;
    border-bottom: 1px solid #000;
}

.carrinho-lista-produtos-titulo{
    display: grid;
    grid-template-columns: 350px 250px 200px;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #000;
}

.carrinho-produto{
    display: grid;
    grid-template-columns: 100px 250px 250px 200px;
    grid-template-rows: 100px;
    align-items: center;
    margin: 5px;
}

.imagem-produto {
    grid-column: 1;
    width: 100%;
}
.nome-produto {
    margin: 20px;
    font-weight: 500;
    font-size: 20px;
}

.preço-produto{
    font-size: 20px;
}

.quantidade-produto span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--cor-secundaria);
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.quantidade-produto span:nth-child(2) {
    background-color: transparent;
    font-size: 20px;
}

/*Carrinho CheckOut*/

.carrinho-checkout{
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    height: 350px;
    padding: 20px;
    background-color: var(--cor-fundo);
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0 0 20px 0 darkgray;
}

.titulo-checkout{
    width: 100%;
    border-bottom: 1px solid #000;
}
.subtotal-checkout{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 20px;
}

.frete-checkout{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 5px;
}

.total-checkout{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    margin-top: 150px;
}

/*Frete Input*/

/*FIM Frete Input*/

/*FIM Carrinho Checkout*/

