:root {
    --cor-primaria: #bde0fe;
    --cor-secundaria: #ffafcc;
    --cor-fundo: #fff;
}

#home {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    color: white;
    background-color: #bde0fe;
}

.navegacao {
    display: flex;
    align-items: center;
}

#centralizados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.centralizados a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    margin: 0 10px;
}

.centralizados a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #ffc8dd;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.centralizados a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.entrar, .carrinho {
    margin: 5px;
}

.icon-header{
    color: #ffafcc;
    font-size: 28px;
    margin-right: 10px;
}

.numero-itens-carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    border-radius: 50%;
    top: -40px;
    right: -86px;
    background-color: var(--cor-secundaria);
}

@media only screen and (max-width: 600px) {
    .logo-container {
        display: none;
    }
    /* Estilos para o modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        background-color: var(--cor-primaria);
        position: relative;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid var(--cor-secundaria);
        border-radius: 5px;
        width: 70%;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
    }   

/* Outros estilos */
/* Estilos para as barras e botões */
    .bar {
        border: 1px solid var(--cor-fundo);
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
    }

    .toggle {
        background-color: var(--cor-secundaria);
        padding: 5px 10px;
        cursor: pointer;
    }
}