/*Codigos CSS Universais*/
@charset "UTF=8";
@import url('Header.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/*
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #bde0fe;
    --cor-secundaria: #ffafcc;
    --cor-fundo: #fff;
}

body {
    min-height: 100.vh;
    background: var(--cor-fundo);
    width: 100%;
    height: 100vh;
    font-family: Roboto;
}

/*Codigos CSS Universais*/

/*Slider*/

.container-slider {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: 70vh;
    border-radius: 0;
    position: relative;
    margin-top: -200px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}
@media only screen and (max-width: 600px) {
    .swiper {
        height: 30vh;
        margin-top: -600px;
    }
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #ffafcc;
    top: 50%;
}

.swiper .swiper-pagination-bullet-active {
    background: #ffafcc;
}

/*FIM Slider*/

/*Mais Informações*/
.mais-informaçoes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: fff;
    position: relative;
    top: -190px;
}
.icon {
    color: #ffafcc;
    font-size: 38px;
    margin-right: 10px;
}
.mais-informaçoes-icon{
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 38;
    font-weight: 600;
    color: #ffafcc;
}

/*FIM Mais Informações*/

/*Texto Inicial*/
section.show-animate .animate{
    filter: blur(0);
    opacity: 1;
}

section .animate {
    opacity: 0;
    transition: 1s;
    filter: blur(5px);
}

.texto1 .animate{
    transform: scale(.9);
}

.texto1.show-animate .animate{
    transform: scale(1);
}

.texto1 {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 5%;
    margin-top: -120px;
}

.titulo-texto-t1{
    font-size: 62px;
    font-weight: 800;
    text-align: center;
}

.texto-t1{
    font-size: 34px;
    font-weight: 500;
    text-align: center;
}


/*FIM Texto Inicial*/

/*Texto 2*/

.lado-esquerdo-t2 .animate {
    transform: translateX(-100%);
    transition-delay: calc(.1s * var(--i));
}

.texto2.show-animate .animate h2{
    transform: translateX(0);
}

.texto2.show-animate .animate p{
    transform: translateX(0);
}

.lado-direito-t2 .animate{
    transform: translateX(-100%);
    transition-delay: calc(.1s * var(--i));
}

.texto2 .animate img{
    transform: translateX(100%);
    transition-delay: calc(.1s * var(--i));
}

.texto2.show-animate .animate img{
    transform: translateX(0);
}

.texto2 {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
}

.lado-esquerdo-t2 {
    flex: 1;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

.lado-direito-t2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.centered-img {
    max-width: 75%;
    height: auto;
    margin: 10px;
    border-radius: 20px;
}

.titulo-texto-t2{
    font-size: 62px;
    font-weight: 800;
}

.texto2-p1{
    font-size: 24px;
    font-weight: 500;
}

/*FIM texto 2*/

/*Texto 3*/

.texto3 .animate{
    opacity: 0;
    transform: scale(.9);
}

.texto3.show-animate .animate{
    opacity: 1;
    transform: scale(1);
}

.texto3 {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 5%;

}

.titulo-texto-t3{
    font-size: 62px;
    font-weight: 800;
    text-align: center;
}

.texto3-p1{
    font-size: 34px;
    font-weight: 500;
    text-align: center;
}

/*FIM texto 3*/

/*Botao Topo*/

#botaotopo {
    display: block;
    position: fixed;
    bottom: -50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    border: 2px solid var(--cor-fundo);
    cursor: pointer;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-image: url('botao.jpg');
    background-size: cover;
    background-position: center;
    transition: all 0.3s;
}

#botaotopo.active {
    bottom: 30px;
}

/*FIM Botao Topo*/